<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="POS.Reporting.Properties.Settings.Dock27POSConnectionString" connectionString="data source=172.20.13.26;initial catalog=Dock27PosWebPortal;user id=sa;password=Entrum786;" providerName="System.Data.SqlClient" />
    </connectionStrings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>