<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="POSEntities" connectionString="metadata=res://*/DatabaseModel.PosModel.csdl|res://*/DatabaseModel.PosModel.ssdl|res://*/DatabaseModel.PosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-D619E9V;initial catalog=Dock27PosWebPortal;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="POSEntities" connectionString="metadata=res://*/DatabaseModel.POSModel.csdl|res://*/DatabaseModel.POSModel.ssdl|res://*/DatabaseModel.POSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=D-64281\MSSQLSERVER01;initial catalog=Dock27PosWebPortal;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="POSEntities" connectionString="metadata=res://*/DatabaseModel.POSModel.csdl|res://*/DatabaseModel.POSModel.ssdl|res://*/DatabaseModel.POSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=D-64281\MSSQLSERVER01;initial catalog=Dock27PosWebPortal;user id=sa;password=123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="POSEntities" connectionString="metadata=res://*/DatabaseModel.POSModel.csdl|res://*/DatabaseModel.POSModel.ssdl|res://*/DatabaseModel.POSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=D-64281\MSSQLSERVER01;initial catalog=Dock27PosWebPortal;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="POSEntities" connectionString="metadata=res://*/DatabaseModel.POSModel.csdl|res://*/DatabaseModel.POSModel.ssdl|res://*/DatabaseModel.POSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-151Q09S;initial catalog=nsintern_BMOil;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="POSEntities" connectionString="metadata=res://*/DatabaseModel.POSModel.csdl|res://*/DatabaseModel.POSModel.ssdl|res://*/DatabaseModel.POSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=104.219.233.99;initial catalog=itcorner_OILChangeBhera;user id=DrInventryDB;password=Babar123@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ModelEntities" connectionString="metadata=res://*/DatabaseModel.POSModel.csdl|res://*/DatabaseModel.POSModel.ssdl|res://*/DatabaseModel.POSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-151Q09S;initial catalog=nsintern_BMOil;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="POSEntities" connectionString="metadata=res://*/DatabaseModel.POSModel.csdl|res://*/DatabaseModel.POSModel.ssdl|res://*/DatabaseModel.POSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-151Q09S;initial catalog=nsintern_BMOil;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="POSEntities" connectionString="metadata=res://*/DatabaseModel.POSModel.csdl|res://*/DatabaseModel.POSModel.ssdl|res://*/DatabaseModel.POSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-151Q09S;initial catalog=nsintern_BMOil;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PosEntities" connectionString="metadata=res://*/DatabaseModel.PosModel.csdl|res://*/DatabaseModel.PosModel.ssdl|res://*/DatabaseModel.PosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-151Q09S;initial catalog=testOilChange;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="POSEntities" connectionString="metadata=res://*/DatabaseModel.PosModel.csdl|res://*/DatabaseModel.PosModel.ssdl|res://*/DatabaseModel.PosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-151Q09S;initial catalog=testOilChange;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="POSEntities" connectionString="metadata=res://*/DatabaseModel.PosModel.csdl|res://*/DatabaseModel.PosModel.ssdl|res://*/DatabaseModel.PosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-151Q09S;initial catalog=TEST;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="POSEntities" connectionString="metadata=res://*/DatabaseModel.PosModel.csdl|res://*/DatabaseModel.PosModel.ssdl|res://*/DatabaseModel.PosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=104.219.233.99;initial catalog=itcorner_ShahzadOilStoreCentralPark;user id=DrInventryDB;password=Babar123@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModelEntities" connectionString="metadata=res://*/DatabaseModel.DatabaseModel.csdl|res://*/DatabaseModel.DatabaseModel.ssdl|res://*/DatabaseModel.DatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=itcorner1.com;initial catalog=itcorner_ShahzadOilStoreCentralPark;persist security info=True;user id=DrInventryDB;password=Babar123@;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PosEntities" connectionString="metadata=res://*/DatabaseModel.PosModel.csdl|res://*/DatabaseModel.PosModel.ssdl|res://*/DatabaseModel.PosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=itcorner1.com;initial catalog=itcorner_ShahzadOilStoreCentralPark;persist security info=True;user id=DrInventryDB;password=Babar123@;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="POSEntities" connectionString="metadata=res://*/DatabaseModel.PosModel.csdl|res://*/DatabaseModel.PosModel.ssdl|res://*/DatabaseModel.PosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=itcorner1.com;initial catalog=itcorner_ShahzadOilStoreCentralPark;persist security info=True;user id=DrInventryDB;password=Babar123@;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>